
* { /* Para formatat a págia toda - Tirar toda formatação.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Limite da borda da caixa*/

}

body{
    background-color:;
}


header .container {
    
}